/* style.scss KK-Shift ポスター */

@charset "utf-8";

/* Noto Sans Japanese */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$base-color: #FFFFFF;
$main-color: #4BBDAB;
$accent-color: #FADF4B;
$background-color: $base-color;
$text-color: #202020;

$paper-width: 210mm;
$paper-height: 297mm;

$border-width: 30px;

@page {
	size: $paper-width $paper-height;
	margin: 0;
}

body {
	background-color: $main-color;
	font-family: 'Noto Sans Japanese';
	color: $text-color;
}

.page-background {
	margin: 6.35mm 4.85mm;
}

.page {
	background-color: $background-color;
	height: $paper-height;
	width: $paper-width;
}

.frame {
	border: solid $main-color;
	border-width: $border-width 0;
	height: 100%;
	width: 100%;
}

.contents {
	height: 100%;
	margin: 30px;
	width: 100%;
}

.center {
	text-align: center;
}

.title-zone {
	background-color: $main-color;
	color: $accent-color;
}
