/* style.scss KK-SHiFT ポスター */

@charset "utf-8";

/* Noto Sans Japanese */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$base-color: #FFFFFF;
$main-color: #4BBDAB;
$accent-color: #FADF4B;
$background-color: $base-color;
$text-color: #202020;

$border-width: 30px;

@page {
	size: A4;
	margin: 6.35mm 4.85mm;
}

// 第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力
@function get_vw($size, $viewport:1024) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

// 第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力
@mixin font-size_vw($font_size:10, $viewport:1024) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size, $viewport);
}

@function size_px($size) {
	@return $size * 1px;
}

@mixin c_margin_vw($margin_size, $viewport:1024) {
	height: calc(100% - #{size_px($margin_size * 2)});
	height: calc(100% - #{get_vw($margin_size * 2)});
	margin: $margin_size * 1px;
	margin: get_vw($margin_size);
	width: calc(100% - #{size_px($margin_size * 2)});
	width: calc(100% - #{get_vw($margin_size * 2)});
}

body {
	background-color: $main-color;
	font-family: 'Noto Sans Japanese';
	color: $text-color;
  @include font-size_vw(12);
}

h1 {
	@include font-size_vw(48);
}

h2 {
	@include font-size_vw(36);
}

h3 {
	@include font-size_vw(24);
}

h4 {
	@include font-size_vw(20);
}


.page {
	margin: 0 auto;
}

.frame {
	border: solid $main-color;
	border-width: $border-width 0;
	height: 100%;
	width: 100%;
}

.contents {
	@include c_margin_vw(30);
}

.center {
	text-align: center;
	width: 100%;
}

.title-zone {
	background-color: $main-color;
	color: $accent-color;
}

.content-zone {
	background-color: $background-color;
	color: $text-color;
}

.twin-triangle {
	background-image: linear-gradient(150deg, $accent-color get_vw(50), transparent 0),
	linear-gradient(-30deg, $accent-color get_vw(50), transparent 0);
	height: 100%;
	width: 100%;
}

.col-6 {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 49%;
}

.col-4 {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 32%;
}

img {
	width: 100%;
	height: auto;
}

span.underline {
	border-bottom: solid get_vw(3) $main-color;
}

.min-margin {
	margin: 0;
}
