@charset "UTF-8";
/* style.scss KK-Shift ポスター */
/* Noto Sans Japanese */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@page {
  size: 210mm 297mm;
  margin: 0;
}

body {
  background-color: #4BBDAB;
  font-family: 'Noto Sans Japanese';
  color: #202020;
}

.page-background {
  margin: 6.35mm 4.85mm;
}

.page {
  background-color: #FFFFFF;
  height: 297mm;
  width: 210mm;
}

.frame {
  border: solid #4BBDAB;
  border-width: 30px 0;
  height: 100%;
  width: 100%;
}

.contents {
  height: 100%;
  margin: 30px auto;
  width: 100%;
}

.center {
  text-align: center;
  width: 100%;
}

.title-zone {
  background-color: #4BBDAB;
  color: #FADF4B;
}
