@charset "UTF-8";
/* style.scss KK-Shift ポスター */
/* Noto Sans Japanese */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@page {
  size: A4;
  margin: 6.35mm 4.85mm;
}

body {
  background-color: #4BBDAB;
  font-family: 'Noto Sans Japanese';
  color: #202020;
  font-size: 12px;
  font-size: 1.17188vw;
}

h1 {
  font-size: 48px;
  font-size: 4.6875vw;
}

h2 {
  font-size: 36px;
  font-size: 3.51562vw;
}

h3 {
  font-size: 24px;
  font-size: 2.34375vw;
}

.page {
  margin: 0 auto;
}

.frame {
  border: solid #4BBDAB;
  border-width: 30px 0;
  height: 100%;
  width: 100%;
}

.contents {
  height: calc(100% - 60px);
  height: calc(100% - 5.85938vw);
  margin: 30px;
  margin: 2.92969vw;
  width: calc(100% - 60px);
  width: calc(100% - 5.85938vw);
}

.center {
  text-align: center;
  width: 100%;
}

.title-zone {
  background-color: #4BBDAB;
  color: #FADF4B;
}

.content-zone {
  background-color: #FFFFFF;
  color: #202020;
}

.twin-triangle {
  background-image: linear-gradient(150deg, #FADF4B 4.88281vw, transparent 0), linear-gradient(-30deg, #FADF4B 4.88281vw, transparent 0);
  height: 100%;
  width: 100%;
}

.col-6 {
  display: inline-block;
  height: 100%;
  width: 49%;
}

img {
  width: 100%;
  height: auto;
}
